html, body {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
}
table , th, td{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    border: 2px black solid;
}
form {
    display: flex;
    flex-direction: column;
}